{% extends 'authen/base.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Login Page{%endblock title%}</title>
</head>
<body>
    {%block content%}
    <br>
    <h2 class="text-center">Please Login</h2>
    <div class="col-md-6 offset-md-3">        
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username"></div>
        <div class="mb-3">          
          <input type="password" class="form-control" name="password" id="InputPassword1" placeholder="Enter Password">
        </div>
        <button type="Login" class="btn btn-primary">Login</button>
    </form>
    </div>
    {%endblock%}
</body>
</html>